<ion-view view-title="Mammals">
	<ion-content>
		

		<div class="list card">
			<div class="item item-body">
				<p>MOOSE (Alces alces)</p>
				<img class="full-image" src="img/1.jpg">
				<p>
					Size - 594-1100 lb<br>
					Young - 1-2, May-June<br>
					Diet - plants<br>
					Life Span - 12 years<br>
					Activity Pattern - dawn/dusk, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>WHITE-TAILED DEER (Odocoileus virginianus)</p>
				<img class="full-image" src="img/2.jpg">
				<p>
					Size - 55-330 lb<br>
					Young - 1-3, May-June<br>
					Diet - plants<br>
					Life Span - 10 years<br>
					Activity Pattern - dawn/dusk, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>HARBOUR SEAL (Phoca vitulina)</p>
				<img class="full-image" src="img/3.jpg">
				<p>
					Size - 132-154 lb<br>
					Young - 1, May-June<br>
					Diet - fish<br>
					Life Span - 17 years (captive)<br>
					Activity Pattern - tidal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>BOBCAT (Felis rufus)</p>
				<img class="full-image" src="img/4.jpg">
				<p>
					Size - 15-29 lb<br>
					Young - 2, April-May<br>
					Diet - small mammals<br>
					Life Span - 12 years<br>
					Activity Pattern - nocturnal, year round
				</p>
			</div>
		</div>


		<div class="list card">
			<div class="item item-body">
				<p>LYNX (Felis lynx)</p>
				<img class="full-image" src="img/5.jpg">
				<p>
					Size - 19-23 lb<br>
					Young - 2, April-May<br>
					Diet - snowshoe hares<br>
					Life Span - 12 years<br>
					Activity Pattern - nocturnal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>EASTERN COUGAR (Felis concolor)</p>
				<img class="full-image" src="img/6.jpg">
				<p>
					Size - 80-200 lb<br>
					Young - 3, March or July<br>
					Diet - deer<br>
					Life Span - 12 years<br>
					Activity Pattern - nocturnal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>RIVER OTTER (Lutra canadensis)</p>
				<img class="full-image" src="img/7.jpg">
				<p>
					Size - 11-33 lb<br>
					Young - 2-3, March-April<br>
					Diet - fish, insects<br>
					Life Span - 15 years<br>
					Activity Pattern - diurnal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>STRIPED SKUNK (Mephitis mephitis)</p>
				<img class="full-image" src="img/8.jpg">
				<p>
					Size - 2-4 lb<br>
					Young - 3-8, May<br>
					Diet - omnivore<br>
					Life Span - 6 years<br>
					Activity Pattern - nocturnal, sleep in winter
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>AMERICAN MINK (Mustela vison)</p>
				<img class="full-image" src="img/9.jpg">
				<p>
					Size - 1.5-4.5 lb<br>
					Young - 3-8, April-May<br>
					Diet - small mammals, fish<br>
					Life Span - 10 years<br>
					Activity Pattern - dusk/dawn, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>SHORT-TAILED WEASEL (Mustela erminea)</p>
				<img class="full-image" src="img/10.jpg">
				<p>
					Size - 1.9-2.8 oz<br>
					Young - 4-8, April-May<br>
					Diet - small mammals<br>
					Life Span - 7 years<br>
					Activity Pattern - nocturnal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>FISHER (Martes pennanti)</p>
				<img class="full-image" src="img/11.jpg">
				<p>
					Size - 3-12 lb<br>
					Young - 1-6, March-April<br>
					Diet - small mammals<br>
					Life Span - 10 years<br>
					Activity Pattern - day or night, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>AMERICAN MARTEN (Martes americana)</p>
				<img class="full-image" src="img/12.jpg">
				<p>
					Size - 1-3 lb<br>
					Young - 1-5, March-April<br>
					Diet - small mammals<br>
					Life Span - 10 years<br>
					Activity Pattern - nocturnal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>RACCOON (Procyon lotor)</p>
				<img class="full-image" src="img/13.jpg">
				<p>
					Size - 11-18 lb<br>
					Young - 2-4, March-May<br>
					Diet - omnivore<br>
					Life Span - 13 years (captive)<br>
					Activity Pattern - nocturnal, sleep in winter
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>BLACK BEAR (Ursus americanus)</p>
				<img class="full-image" src="img/14.jpg">
				<p>
					Size - 100-440 lb<br>
					Young - 1-3, January-February<br>
					Diet - omnivore<br>
					Life Span - 12 years<br>
					Activity Pattern - nocturnal, hibernate in winter
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>RED FOX (Vulpes vulpes)</p>
				<img class="full-image" src="img/15.jpg">
				<p>
					Size - 9-11 lb<br>
					Young - 4-9, March-April<br>
					Diet - omnivore<br>
					Life Span - 12 years<br>
					Activity Pattern - dusk/dawn, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>EASTERN COYOTE (Canis latrans)</p>
				<img class="full-image" src="img/16.jpg">
				<p>
					Size - 29-35 lb<br>
					Young - 5-7, April-May<br>
					Diet - omnivore<br>
					Life Span - 15 years (captive)<br>
					Activity Pattern - nocturnal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>HUMPBACK WHALE (Megaptera novaeangliae)</p>
				<img class="full-image" src="img/17.jpg">
				<p>
					Size - 11-15 m<br>
					Young - 1, February-March<br>
					Diet - crustaceans, fish<br>
					Life Span - at least 18 years<br>
					Activity Pattern - day or night, migrate for winter
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>PORCUPINE (Erethizon dorsatum)</p>
				<img class="full-image" src="img/18.jpg">
				<p>
					Size - 9-22 lb<br>
					Young - 1, May-June<br>
					Diet - trees<br>
					Life Span - 10 years (captive)<br>
					Activity Pattern - nocturnal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>MUSKRAT (Ondatra zibethica)</p>
				<img class="full-image" src="img/19.jpg">
				<p>
					Size - 2-3 lb<br>
					Young - 4-8, May-July<br>
					Diet - aquatic plants<br>
					Life Span - 3 years (captive)<br>
					Activity Pattern - diurnal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>DEER MOUSE (Peromyscus maniculatus)</p>
				<img class="full-image" src="img/20.jpg">
				<p>
					Size - 0.6-1 oz<br>
					Young - 4, April-October<br>
					Diet - seeds<br>
					Life Span - 3 years<br>
					Activity Pattern - nocturnal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>BEAVER (Castor canadensis)</p>
				<img class="full-image" src="img/21.jpg">
				<p>
					Size - 40-55 lb<br>
					Young - 4, May-June<br>
					Diet - trees, aquatic plants<br>
					Life Span - 12 years<br>
					Activity Pattern - diurnal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>NORTHERN FLYING SQUIRREL (Glaucomys sabrinus)</p>
				<img class="full-image" src="img/22.jpg">
				<p>
					Size - 4-6.5 oz<br>
					Young - 2-6, April-May<br>
					Diet - omnivore<br>
					Life Span - 10 years<br>
					Activity Pattern - nocturnal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>RED SQUIRREL (Tamiasciurus hudsonicus)</p>
				<img class="full-image" src="img/23.jpg">
				<p>
					Size - 7-9 oz<br>
					Young - 4-7, April and August<br>
					Diet - omnivore<br>
					Life Span - 6 years<br>
					Activity Pattern - diurnal, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>WOODCHUCK (Marmota monax)</p>
				<img class="full-image" src="img/24.jpg">
				<p>
					Size - 5-10 lb<br>
					Young - 2-8, April-May<br>
					Diet - plants<br>
					Life Span - 6 years<br>
					Activity Pattern - diurnal, hibernate in winter
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>EASTERN CHIPMUNK (Tamias striatus)</p>
				<img class="full-image" src="img/25.jpg">
				<p>
					Size - 2-4.5 oz<br>
					Young - 3-5, May and August<br>
					Diet - plants, insects<br>
					Life Span - 3 years<br>
					Activity Pattern - diurnal, sleep in winter
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>SNOWSHOE HARE (Lepus americanus)</p>
				<img class="full-image" src="img/26.jpg">
				<p>
					Size - 3-4 lb<br>
					Young - 2-4, April-July<br>
					Diet - plants<br>
					Life Span - 4-5 years<br>
					Activity Pattern - dawn-dusk, year round
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>LITTLE BROWN BAT (Myotis lucifugus)</p>
				<img class="full-image" src="img/27.jpg">
				<p>
					Size - 0.25-0.3 oz<br>
					Young - 1, May-July<br>
					Diet - worms, insects<br>
					Life Span - 24 years<br>
					Activity Pattern - nocturnal, hibernate in winter
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-body">
				<p>STAR-NOSED MOLE (Condylura cristata)</p>
				<img class="full-image" src="img/28.jpg">
				<p>
					Size - 1-3 oz<br>
					Young - 2-7, March-April<br>
					Diet - worms, insects<br>
					Life Span - unknown<br>
					Activity Pattern - day or night, year-round
				</p>
			</div>
		</div>

	</ion-content>
</ion-view>